@import url("./Forms/MainForm.css");
@import url("./Navbar/Navbar.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(95deg, rgb(52, 12, 85), rgb(157, 37, 255), rgb(26, 6, 43));
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
